body, div{
  font-family: Roboto;
  padding: 0;
  margin: 0;
  font-size: 12px;
  background-color: #F5ECD8;
}

#logo_div{
  padding: 10px;
}
#button_div{
  background-color: #727269;
}

#button_footer_div{
  width: 100vw;
  height: 10px;
  background-color: #CBA732 !important;

}
.chart_image{
  width: 300px;
  height: auto;
}


#header_text{
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  color: #4B652A;
  font-size: 24px;

}

.button_group_div{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100vw;
  height: 45px;
  background-color: #727269;
}
.btn-default {
  background-color: #F5ECD8 !important;
  color: red !important;
  outline: none !important;
  box-shadow: none !important;
  /*formatting goes here*/
}

.btn-default:active{
  background-color: #CBA732 !important;
  /*formatting goes here*/
}
.btn-default:hover{
  background-color: #CBA732 !important;
  /*formatting goes here*/
}
.btn-default:focus{
  background-color: #CBA732 !important;
  /*formatting goes here*/
}
