body, div{
  font-family: Arial;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.chart_image{
  width: 200px;
  max-height: calc(25vh - 100px);
}

.chart_picker_div{
  font-size: 20px;
  text-align: center;
  width: 50vw;
  height: 25vh;
  float: left;
  margin: 0;
  padding: 0;
}
.panel_title{
  font-size: 20px;
}

#table_div,#chart_div, #middle_div,#footer_div, #margin_div{
  float: left;
}
#chart_div{
  width: 100vw;
  height: 25vh;
  background-color:#F5ECD8;
}
#middle_div{
  top: 20vh;
  width: 100vw;
  height: 65vh;
}

#table_div{
  width: calc(100vw - 60px);
  height: 65vh;
  overflow: auto;
}

#margin_div{
  width: 30px;
  height: 65vh;
  background-color:#F5ECD8;
}
#footer_div{
  width: 100vw;
  height: 10vh;
  background-color:#F5ECD8;
  padding: 15px;
}


.button_rect{
  stroke: #A0A0A0;
  stroke-width: 0.5;
  fill: #F0F0F0;
  rx: 4;
  ry: 4;
}

.button_text{
  text-anchor: middle;
}

.fund_panel{
  fill: white;
  rx: 4;
  ry: 4;
}

.ticker_rect{
  stroke-width: 0.5;
  stroke: #A0A0A0;
  rx: 2;
  ry: 2;
}

.ticker_text{
  fill: #333333;
  text-anchor: middle;
  text-transform: uppercase;
}

#close_button{
  padding: 5px;
  float: right;
}

#ticker_close_button{
  float: right;
  padding-right: 5px;
 }

.model_column{
  background-color: #F0F0F0;
}

.model_cell{
  color: #525252;
}

.col_purple{
  background-color: #bebada;
}
.col_red{
  background-color: #fb8072;
}
.col_blue{
  background-color: #80b1d3;
}
.col_orange{
  background-color: #fdb462;
}
.col_green{
  background-color: #b3de69;
}
.col_pink{
  background-color: #fccde5;
}

#add_filter{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  background-color: #F0F0F0;
  text-align: center;
  left: calc(50vw - 150px);
  top: calc(50vh - 100px);
  width: 300px;
  height: 200px;
}

#ticker_select{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  background-color: #F0F0F0;
  text-align: left;
  left: calc(50vw - 70px);
  top: calc(50vh - 22.5px);
  width: 140px;
  height: 45px;
  padding: 5px;
}

.selectpicker{
  width: 100px;
}

.ticker_button{
  margin-top: 5px;
  background-color: white;
  margin-left: 5px;
}

.sell_ticker{
  background-color: #ffffb3;
}

.buy_ticker{
  background-color: #8dd3c7;
}

.small{
  color:#737373;
}
.smallish{
  color: #737373;
  font-size: 1.05em;
}

.middle{
  color: #525252;
  font-size: 1.1em;
}

.largeish{
  color: #252525;
  font-size: 1.15em;
}

.large{
  color: #252525;
  font-size: 1.2em;
  font-weight: bolder;
}

.ticker_tooltip{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.8em;
  width: auto;
  height: auto;
  margin-right: 80px;
}

.python_div{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  font-size: 0.8em;
  left: calc(50vw - 300px);
  top: 100px;
  width: 600px;
  height: auto;
  margin-right: 80px;
}

.core_cell{
  background: gold;
}
