body, div{
  font-family: Arial;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#chart_div{
  width: 100vw;
  height: 100vh;
}

.line_tooltip{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.8em;
  width: 150px;
  height: auto;
  margin-right: 80px;
}

.main_line{
  fill: transparent;
  stroke-width: 2;
}

.brush_line{
  fill: transparent;
  stroke-width: 1;
}

.top_line{
  pointer-events: none;
  fill: transparent;
  stroke: #D0D0D0;
  stroke-width: 0.5;
}

.bottom_line{
  pointer-events: none;
  fill: transparent;
  stroke: #D0D0D0;
  stroke-width: 0.5;
}

.range_area {
  pointer-events: none;
  fill: #F0F0F0;
}
.axis line {
  display: none;
}

.axis path {
  stroke: #A0A0A0;
}

.average_line{
  pointer-events: none;
  stroke: #333333;
  stroke-width: 0.5;
  stroke-dasharray: 2,2;

}


.normal_brush .overlay {
  fill: #A0A0A0;
  fill-opacity: 0.2;
}

.brush .selection {
  fill: #A0A0A0;
}

.brush .handle {
  fill: #A0A0A0;
  rx: 3;
  ry: 3;
}

.mouse_dot{
  r: 2;
  fill: #707070;
}

.mouse_text{
  font-size: 10px;
  text-anchor: middle;
  fill: #707070;
}

.mouse_item{
  visibility: hidden;
}

.title{
  font-weight: bold;
  font-size: 14px;
}
