
<html>

  <link rel="stylesheet" href="css/menu.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   <head>

    <meta charset="utf-8">

  </head>

  <body>
  <div id="logo_div"><img src="logo.png" id="header_image"><span id="header_text">{{advisor_name}}</span></div>
  <div id='button_div'><div class="button_group_div btn-group btn-group-justified">
    <a href="#" class="btn btn-default ml-1 mr-1 rounded-top" autofocus="autofocus">Portfolios</a>
    <a href="#" class="btn btn-default ml-1 mr-1 rounded-top">Holdings</a>
    <a href="#" class="btn btn-default ml-1 mr-1 rounded-top">Exposures</a>
    <a href="#" class="btn btn-default ml-1 mr-1 rounded-top">Allocations</a>
    <a href="#" class="btn btn-default ml-1 mr-1 rounded-top">Performance</a>
    <a href="#" class="btn btn-default ml-1 mr-1 rounded-top">Fund Performance</a>
    <a href="#" class="btn btn-default ml-1 mr-1 rounded-top">Scenarios</a>
    <a href="#" class="btn btn-default ml-1 mr-1 rounded-top">Schedule</a>
  </div></div>
  <div id="button_footer_div"></div>
  </body>


</html>
