body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: dimgrey;
}

.x_axis path, .x_axis line {
  stroke: #A0A0A0;
}

.tooltip{
  visibility: hidden;
  border: 1px solid #F0F0F0;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.8em;
  width: auto;
  height: auto;
  margin-right: 80px;
}

#chooser_div,#tree_div{
  width: 100vw;
  height: 100vh;
}
#tree_div{
  width: 100vw;
  height: 95vh;
}

#header_div{
  width: 100vw;
  height: 5vh;
  text-align: center;
  line-height: 5vh;
}

.triangle_marker{
  fill: white;
  stroke-width: 3px;
  stroke: #e31a1c;
}

.invisible_triangle_marker{
  fill: transparent;
}

.restriction_rect_left, .restriction_rect_right{
  fill: #A0A0A0;
}

.label{
  text-anchor: middle;
  fill: white;
  font-size: 1.1em;
  text-transform: uppercase;

}