body, div{
  font-family: Roboto;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#goals_div{
  width: 100vw;
  height:30vh;
}

#portfolios_div{
  width: 100vw;
  height:70vh;
}

.goal_rect, .treemap_rect{
  rx: 5;
  ry: 5;
  stroke: #A0A0A0;
  stroke-width: 0.5;
}

.goal_text, .treemap_text{
  text-anchor: middle;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.portfolio_text{
  text-anchor: middle;
  font-size: 10px;
  text-transform: uppercase;
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.positions_axis line, .positions_axis path{
  stroke: #707070;
  stroke-width: 0.5;
}

.triangle_marker{
  fill: white;
  stroke-width: 3px;
  stroke: #e31a1c;
}

.shadow_triangle_marker{
  fill: #A0A0A0;
  stroke: white;
}


.tooltip{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.8em;
  width: auto;
  height: auto;
  margin-right: 110px;
}
