body, div{
  font-family: Roboto;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#chart_div{
  width: 100vw;
  height:100vh;
}

.axis line, .axis path {
  stroke: #F0F0F0;
}

.axis path {
  stroke: #A0A0A0;
}
.alert_rect {
  stroke: 1px;
  fill-opacity: 0.2;
}

.tooltip{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.8em;
  width: auto;
  height: auto;
  margin-right: 110px;
}
