body, div{
  font-family: Roboto;
  margin: 0;
  padding: 0;
  font-size: 14px;
}


svg{
  background-color: white;
}
#standalone_mm_chart_div{
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: calc((100vh - 750px)/2);
  background-color: #fef1c2;
}

#standalone_g_chart_div{
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #fef1c2;
}

.positions_value_axis line, .positions_value_axis path{
  stroke: #A0A0A0;
}
#container_div{
  min-width: 1500px;
  width: 100vw;
  height: auto;
  overflow: auto;
}

#header_div{
  min-width: 1500px;
  width: 100vw;
  height: 100px;
}

#header_text{
  color: #283E14;
  float: left;
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 15px;
  padding-top: 20px;
}
#header_image{
  float: right;
  height: 70px;
  width: auto;
  padding-top: 15px;
  padding-right: 15px;
}
#progress_div{
  float: left;
  min-width: 1500px;
  width: 100vw;
  height: 40px;
  margin-bottom: 25px;
}

#questions_div{
  text-align: center;
  min-width: 750px;
  width: calc(50vw - 10px);
  height: calc(100vh - 175px);
  float: left;
}

#profile_div{
  vertical-align: top;
  min-width: 750px;
  width: calc(50vw - 10px);
  height: calc(100vh - 175px);
  float: right;
}

.progress_background{
  rx:20;
  ry:20;
}

.stage_circle{
  fill:white;
  stroke-width: 2px;
  stroke: #949F8A;
}

.stage_wings{
  rx: 8;
  ry: 8;
  fill: white;
  stroke-width: 1px;
  stroke: #949F8A;
}

.stage_body{
  rx: 10;
  ry: 10;
  fill: #949F8A;
  stroke-width: 1px;
  stroke: #949F8A;
}

.stage_text{
  text-anchor: middle;
  text-transform: uppercase;
  font-size: 18px;
  fill:#FDD649;
}

.title_text {
  text-transform: uppercase;
  font-size: 16px;
  fill: white;
}

.title_rect, .background_rect, .category_bar,.button_rect,.family_rect, .download_rect{
  rx:3;
  ry:3;
}

.sort_rect{
  rx:3;
  ry:3;
  fill:#F0F0F0;
  stroke:#A0A0A0;
}

.category_label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}


.tree_textdiv {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: #404040;
  padding-top: 5px;
  padding-left: 5px;
}

.category_circle {
  stroke-width: 0.5;
  stroke: #808080;
}

.category_circle_label{
  font-size: 18px;
  text-anchor: middle;
}

.risk_label{
  text-anchor: middle;
  font-size: 10px;
  font-weight: 400;
  fill:#404040;
}

.favourite{
  color: #FDC808;
}

.sunburst_text{
  font-size: 12px;
}
.tax_status_bar_label,.family_rect_label{
  text-anchor: middle;
  font-size: 12px;
  font-weight: bold;
  fill:#404040;
}

.tax_bar{
  rx:5;
  ry:5;
}
.axis line {
  display: none;
}

.axis path {
  stroke: #808080;
  stroke-width: 1px;
}

.text_axis path, .text_axis line{
  display: none;
}

.ts_circle{
  fill: white;
  stroke: #404040;
}

.tax_input{
  width: 30px;
  line-height: 10px;
  padding: 0px;
  font-size: 8px;
  border: 0.5px solid #A0A0A0;
}


.pd_div_2, .role_select {
  font-size: 10px;
  font-family: Roboto;
  line-height: 10px;
}

.pd_div_2 p {
  height: 10px;
  margin: 0px;
  padding: 0px;
}
input[type="checkbox" i] {

  margin: 3px 3px 3px 3px;
  padding: initial;
  border: initial;
}
.comms_break{
  line-height: 8px;
  margin:0px;
}
.comms_select{
  padding-top: 2px;
  width: 8px;
  height: 8px;

}
.outer_circle{
  fill: white;
  stroke-width: 1;
  stroke: #404040;
}

.inner_circle{
  fill: #D0D0D0;
  stroke-width: 0;
}

.account_size_label{
  font-size: 12px;
  text-anchor: start;

}

.priority_line{
  stroke-width: 4px;
  stroke: #A0A0A0;
  border-radius: 2px;
}

.priority_circle{
  fill: #404040;
}

#family_filter_input, #fund_filter_input{
  width: 85px;
}

.minmax_input{
  width: 50px;
  text-align: center;
}

.minmax_col_title{
  text-anchor: middle;
  font-weight: bold;
  font-size: 12px;
}
.tooltip{
  visibility: hidden;
  border: 1px solid grey;
  border-radius: 4px;
  position: absolute;
  text-align: left;
  padding: 3px;
  background: white;
  pointer-events: none;
  font-size: 0.8em;
  width: auto;
  height: auto;
  margin-right: 20px;
}

.investment_rect,.changes_rect{
  rx:3;
  ry:3;
}

.text_12_right{
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  text-anchor: end;
}

.text_9_left{
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  text-anchor: start;
}

.triangle_marker{
  fill: white;
  stroke-width: 3px;
  stroke: #e31a1c;
}

.invisible_triangle_marker{
  fill:transparent;
}

.restriction_rect_left, .restriction_rect_right{
  fill: #A0A0A0;
}

.label{
  text-anchor: middle;
  fill: white;
  font-size: 1.1em;
  text-transform: uppercase;

}

.positions_rect{
  fill: white;
  stroke-width: 0px;
}

.positions_no{
  fill:#33a02c;
  text-anchor: middle;
  font-size: 18px;
  font-weight: bold;
}

.positions_description{
  fill: #1f78b4;
  font-size: 14px;
  text-transform: uppercase;
}

.positions_value{
  text-anchor: end;
  fill:#e31a1c;
  font-size: 16px;
  font-weight: bold;
}

.allocations_title{
  text-transform: uppercase;
  font-size: 14px;
}

.allocations_label{
  fill: #707070;
}
.positions_value_axis line, .positions_value_axis path{
  stroke: #A0A0A0;
}
